<style media="screen">
  li {
    height : 100px;
    width: 60%;
    color: blue;
    background-color: white;
    margin-bottom: 30px;
  }
</style>

<h1>NY Times Articles</h1>

<ul>
{{#each article }}
  <li>
  <p>Title: {{title}}</p>
  <a href={{link}}>Link: {{link}}</a> 
  </li>
  
{{/each}}
</ul>