
<ul>
{{#each article }}
  <div id="article">
  <h3>{{{title}}}</h3>
  <p>{{{summary}}}</p>
  <a href={{link}}>Link to full story: {{link}}</a> 
<div id="comments"></div>
  <form class="form-inline" action="/submit" method="post">
      <input class="form-control" id="input" type="text" name ="comment" placeholder="Comment on this article">
      <input type="submit" class="btn btn-primary" type="submit">
  </form>
  </div>
{{/each}}
</ul>