<style media="screen">
  li {
    height : 100px;
    width: 60%;
    color: blue;
    background-color: white;
    margin-bottom: 30px;
  }
</style>

<h1>NY Times Articles</h1>

<ul>
{{#each article }}
  <li>
  <div>
  <p>Title: {{title}}</p>
  <p>Summary: {{summary}}</p>
  <a href={{link}}>Link: {{link}}</a> 
<div id="comments"></div>
  <form action="/submit" method="post">
      <input type="text" name="username" placeholder="Name">
      <input type="text" name ="comment" placeholder="Comment on this article">
      <input type="submit">
  </form>
  </div>
  </li>
{{/each}}
</ul>